body {
   
}

h4 {
  font-size: 12px;
  color: red;
}

#header {
  height:300px;
}

contact-details {
  margin-right: auto;
  margin-left: auto;
}

img{
  border-radius: 100%;
  max-width: 200px;
  margin-top: 45px;
    

}

.margin-fix {
  margin-left: 0px;
}

.red-row{
  background-color: red;
  height: 50px;
}

hr{
  height: 1px;
  background-color: red;
}
