body {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  width: 100%;
  margin-bottom: 50px;
}
h1{
  font-family: Helvetica sans-serif;
  font-size: 50px;
}

h2{
  font-family: Helvetica sans-serif;
  font-size: 40px;
}
 h4{
   font-size: 20px;
 }

p{
  font-family: Helvetica;
  font-size: 15px;
}

.box{
  margin-top:25px;
  background-color:red;
  height:80px
}

.box2 {
  background-color: rgb(9, 8, 58);
  height: 50px;
  margin-top:25px;
}

.header-line {
  border-bottom-style:solid; 
  border-bottom-width:2px; 
  border-bottom-color:red; 
}

.profile-picture{
  margin-top: 40px;
  width: 60%;
  margin-left: 130px;
  border-radius: 100%;
  border-width: 6px;
  border-color:rgb(9, 8, 58);
  border-style: solid;
}

span{
  color: red;
}

.contact-details{
 text-align: right;
}

.contact-span{
  color:black;
  color: #1A226F;
  margin-right:50px;
}

ul{
  margin-top: 25px;
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
}

li{
  margin-top: 40px;
}

.contact-details{
  margin-top: 25px;
}


.languages{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: -15px;
  
}

.interests{
  font-family: Helvetica, sans-serif;;
  margin-left: -15px;
 
}


.table, th, td {
  border: 2px solid black;
  width: 30%;
  
}


